/*Police Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');


*{font-family: 'Poppins', sans-serif;}

body {
background-color: silver ;
color: black;

}

/*Nav barre*/

nav {
justify-content: center;

}


button {
font-size: 1rem;
}

/*Footer*/


footer ul {
    display: inline-block;
}

h3 {
font-size: 1.5rem;
text-align: left;
font-weight: 600;
}

ul {
font-size: 0.85rem;
text-align: left;
font-weight: 600;
}

a {
display: inline-block;

}